body {
	background-image:url(../images/base/page_bg.gif);
	background-repeat:repeat-x;
	margin:0px;
	padding:0px;
}


.container {
	margin:0px auto 80px auto;
	padding:0px;
	position:relative;
/*  text-align:left;*/
	width: 980px;
}

/* ***** HEADER ***** */

#header {
/*	background: black;*/
	height: 80px;
	margin: 0pt;
	padding: 0pt;
	position: relative;
}

/* ***** LOGO ***** */

#logo {
	padding: 17px 0 5px 0;
	color: white;
	font-size: 2.3em;
}

#logo a {
  height: 20px;
	color: white;
}

/* ***** MINI-NAV ***** */

#mininav {
	position: absolute;
	top:25px;
	right: 5px;
	width: 400px;
}

#mininav ul {
	float: right;
/*	border: 1px solid yellow;*/
}

#mininav li {
	float: left;
	color: white;
	font-weight: bold;
	padding: 1px 10px 3px 10px;
	border-right: 1px solid #666;
}

#mininav li.last {
	padding-right: 0;
	border-right: 0;
}

#mininav a {
	font-weight: normal;
	font-size: 11px;
	color:#FFFFFF;
	text-decoration: none;
}

#mininav a.underlined {
	text-decoration: underline;
}

#mininav a:hover {
	text-decoration: underline;
}

/* ***** CONTENT / MAIN ***** */

#content {
	margin-bottom:20px;
	margin-top:10px;
	width:980px;
}



/* ***** PRIMARY (WIDE LEFT COLUMN) ***** */

#primary {
	float: left;
	width: 600px;
	margin: 0 30px 80px 0;
	/*border: 1px solid deeppink;*/
}

#secondary {
	float: left;
	width: 330px;
	margin: 0 0 80px 0;	
	/*border: 1px solid darkkhaki;*/
}

#secondary.boxed {
	width: 320px;
  padding: 0 10px 0 10px;
  border: 1px solid #DDDDCC;
  background-color: #FFFFEE;
}


/* ***** TABLES ***** */


table {
	width: 100%;
	font-size: 1.2em;
	border-collapse:collapse;
	border-left: 1px solid #DDD;
	border-top: 1px solid #DDD;	
/*	margin-bottom: 10px;*/
}

table.top_spaced {
  margin-top: 25px;
}

th, td {
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	padding: 6px;
}

th {
	color: #999;
	font-size: 1.1em;
	color: #999;
}

th b {
  color: #333;
}

tr.offset {
	background-color: #F5F5F5;
}

td {
	vertical-align: middle;
}

td.parametric {
	background: url(../images/icons/search.png) no-repeat 7px center;
	padding-left: 30px;
}

td.shortcut {
	background: url(../images/icons/shortcut.png) no-repeat 7px center;
	padding-left: 30px;
}

td.bookmarklet {
	background: url(../images/icons/bookmarklet.png) no-repeat 7px center;
	padding-left: 30px;
}

/* ***** FOOTER ***** */

#footer {
	clear:both;
	padding:  20px 0 10px 0;
	text-align:center;
/*	background: #76191A url(../images/base/footer-bg.gif) repeat-x left top;*/
}

#footer ul {
	display: table;
	margin: 0 auto 10px auto;
}

#footer li {
	float: left;
	padding:  0 15px 0 15px;
}

#footer p {
	color: #faa99c;
	text-align:center;
	font-size: 1em;
}

#footer a {
	color:#FFFFFF;	
	font-size: 1.2em;
}





.pagination {
	width: 100%;
	text-align: center;
  padding: 3px;
  margin: 15px 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #DDDDDD;
  text-decoration: none;
  color: #427f0b;
  background: none;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #427f0b;
  color: #FFF;
  text-decoration: none;
  background-color: #427f0b;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #427f0b;
  font-weight: bold;
  background-color: #427f0b;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}



/* MISCELLANEOUS
*********************************************************************************/
div.msg {
  padding: 10px;
  border: 1px solid saddlebrown;
  background-color: #FFFFEE;
  overflow: hidden;
	font-size: 1.1em;
}

div.msg ul li {
  padding-left: 22px;
}

div.msg ul li a {
  padding: 0px;
	font-weight: bold;
}

div.msg p {
  padding-bottom: 10px;
}
.centered {
	text-align: center;
}

.no_padding {
	padding: 0;
}

/*used to hide negative captcha field*/
.special_field {
	display: none;
}

#command_description_box, #user_command_description_box {
	background-color: #F5F5F5;
	font-size: 1.1em;
	border: 1px solid #DDD; 
	padding: 5px 10px; 
}
#command_description_box p, #user_command_description_box p {
	font-size: 1.1em;
}
