body {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;	
/*	font-size: 62.8%;*/
	font-size: 10px;
}

a {
  text-decoration: none;
	color: #427f0b;
}
a:hover {
  text-decoration: underline;
}
p a {
	text-decoration: underline;
	color: #427f0b;
	padding-right: 2px;
	padding-left: 2px;
	
}
p a:hover {
	text-decoration: none;
	background-color: #427f0b;
	color: white;
}

p.tag_list {
  padding: 3px 0;
  color: #999;
  font-size: 10px;
}

p.small-url {
	padding: 0;
	margin: 0;
	font-size: 1em;
	color: #999;
}

p.tag_list a {
  color: #666;
  text-decoration: none;
}

p.tag_list a:hover {
  color: #FFF;
}

p.command_title {
  font-size: 13px;
  font-weight: bold;
  padding: 0;
}

p.command_title a {
  text-decoration: none;
}

code {
	color: #000;
	background-color: #f1f1f1;
	padding: 2px;
	font-size: 1em;
	border:1px solid #cccccc;
}

/* TEXT
*********************************************************************************/

h1,h2,h3,h4 {
	font-family: "Trebuchet MS", "Trebuchet-MS" "Lucida Grande", Lucida, Verdana, sans-serif;	
	color: #333;
	text-align: left;
	clear: both;
}

h1 {
	line-height: 1.3em;
	font-size: 2.4em;
	margin: 20px 0 10px 0;
	color: #427f0b;
}

h1.inline {
  display: inline;
  width: 60%;
  float: left;
  margin-bottom: 2px;
}

h2 {
	line-height: 1.2em;
	font-size: 1.8em;
	margin: 10px 0 0px 0;
	color: #333;
}

h2 a {
	color: #666;
}

h2.browser_header {;
	padding: 15px 0 0 50px;
	height: 35px;
}

h2.firefox {
	background: url(../images/icons/browser/firefox.png) no-repeat 0 center;
}

h2.safari {
	background: url(../images/icons/browser/safari.png) no-repeat 0 center;
}

h2.camino {
	background: url(../images/icons/browser/camino.png) no-repeat 0 center;
}

h2.ie6 {
	background: url(../images/icons/browser/ie6.png) no-repeat 0 center;
}

h2.ie7 {
	background: url(../images/icons/browser/ie7.png) no-repeat 0 center;
}

h2.opera {
	background: url(../images/icons/browser/opera.png) no-repeat 0 center;
}

h3 {
	line-height: 1em;
	font-size: 1.4em;
	margin: 15px 0 0px 0;
	color: #444;
}


/* FLASH / MESSAGE BOXES
*********************************************************************************/

.flash-msg {
	border: 1px solid #76191a;
	padding: 8px;
	color: #000;
	font-size: 1.2em;
}

.flash-msg a {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

.notice {
	background-color: #427f0b;
	color: white;
	border-color: #009d20;
}

.warning {
	background-color: #ed2700;
	color: white;
	border-color: #700;
}


/* ERRORS
*********************************************************************************/
#errors {
	width: 500px;
	background: #FCFAE1 url(../images/icons/error.png) no-repeat 5px 12px;	
	border: 1px solid firebrick;
	padding: 10px 10px 10px 35px;
	color: #000;
	color: firebrick;
}

#errors p {
	margin: 0;
	padding: 0;
	color:  firebrick;
	font-size: 1.4em;
}

#errors ul {
	margin: 5px 0 0 0;
}

#errors li {
	color:  black;
	font-weight: bold;
	font-size: 1.2em;
	list-style-type: disc;
	padding: 5px;
}

p {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;	
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 0;
	line-height: 1.4em;
	font-size: 1.3em;
	padding: 0px 0 15px 0;
}

p.tags {
  text-align: justify;
}

p.bordered {
	background-color: #F3F3F3;
	border: 1px solid #DDD;
	padding: 10px;
}


p.caption {
	padding-left: 10px;
	margin-bottom: 20px;
}

p.url {
	font-size: 1.4em;
	color: #427f0b;
}

.justified {
  text-align: justify;
}

table p {
	font-size: 1em;
}


/* LISTS
*********************************************************************************/
ul.normal {
	list-style-type: disc;
	padding-left: 15px;
	color: #444;
}

ul.normal li {
	font-size: 1.2em;
	padding-bottom: 10px;
	list-style-position: outside;
	line-height: 1.3em;
}

ul.users {
	list-style-type: none;
	padding-left: 0px;
	color: #444;
}

ul.users li {
	font-size: 1.2em;
	padding-bottom: 10px;
	list-style-position: outside;
	line-height: .9em;
}


ol.normal {
	margin-left: 5px;
	list-style-type: decimal;
	padding-left: 15px;
	color: #444;
	list-style-position: inside;
}

ol.normal li {
	font-size: 1.2em;
	padding: 10px 0 10px 0;
	list-style-position: outside;
	line-height: 1.7em;
	border-bottom: thin solid #CCC;
}


/* OPTIONS
*********************************************************************************/

/* This is for the lists that are typically within the rows of the tables */

ul.options li {
	display: inline;
	float: left;
	/*border: 1px solid navy;*/
	padding: 2px 0px 2px 0px;
}

ul.options li a {
/*  border: 1px dashed pink;*/
	padding: 0px 10px 6px 20px;
}

ul.options li.no_icon {
	padding: 0 2px 0 2px;
}

ul.options li.no_icon a {
	padding: 0;
}


/* This is for the lists that are typically at the bottoms of the tables */
ul.bolder li {
/*  padding: 5px 20px 5px 23px;*/
}

ul.bolder li a {
	font-size: 1.2em;	
	font-weight: bold;
}

ul.options li.add {
	background: url(../images/icons/add.png) no-repeat left top;
}

ul.options li.edit {
	background: url(../images/icons/edit.png) no-repeat left center;	
}

ul.options li.delete {
	background: url(../images/icons/delete.png) no-repeat left center;
}

ul.options li.search {
	background: url(../images/icons/search.png) no-repeat left center;
}

ul.options li.command {
	background: url(../images/icons/cog.png) no-repeat left center;
}

ul.options li.check {
	background: url(../images/icons/tick.png) no-repeat left center;
}

ul.options li.add a, ul.options li.approve a, ul.options li.reserve a {
	color: #427f0b;
}

ul.options li.edit a,ul.options li.expore a, ul.options li.search a, ul.options li.check {
	color: saddlebrown;
}

ul.options li.delete a, ul.options li.reject a {
	color: firebrick;
}

ul.options.header {
  margin-top: 30px;
  float: right;
  width: 35%;
  text-align: right;
}

ul.options.header li {
  float: none;
}

ul.options.toolbar {
  float: none;
  overflow: hidden;
  display: block;
}

ul.options.toolbar li {
  clear: both;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.1em;
}

hr {
  opacity: .30;
  clear: both;
  margin: 0;
  padding: 0;
}



/* MISC
*********************************************************************************/
.reduced {
	font-size: 90%;
}

.faded {
	color: #999;
}