<% if command.has_options? %>
<h2 style="text-decoration: underline"><%= link_to_function 'Options', "$('options_description_box').toggle()" %></h2>
<div id="options_description_box" style="margin-left: 20px">
	<ul id="url_options_descriptions">
		<% for opt in command.ordered_url_options %>
		<li>
			<b style="font-size: 12px"><%= opt.name %></b>
			<%= " (#{opt.option_type})" if opt.option_type != 'normal' %>
			<% if (metadata = option_metadata(opt)) && ! metadata.blank? %>
			<div style="margin-left: 10px" class="description_box">
				<%= metadata %>
			</div>
			<% end %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>