<h1><%= title %></h1>

<%- columns = [:name, :command, :keyword, :queries_count]
headers = ['User Command', ["Command", {:width=>100}], ["Keyword", {:width=>70}], ["Queries", {:width=>30}]]
if logged_in?
	columns += [:command_actions]; headers += ['Options']
end
-%>
<%= user_command_table commands, :columns=>columns, :headers =>headers %>