 <h1>Execute Command via POST</h1>
 <p style="font-size: 20px">Submitting the command <%= basic_user_command_link @user_command %> ...</p>
 <p>If you continue to see this message you most likely have Javascript
    disabled, you will need to enable it to post a command.
 </p>
<form action="<%= @form_action %>" method="post" id="my_form">
	<% for input in @form_inputs %>
	<input name="<%= input[0] %>" value="<%= input[1] %>" type="hidden">
	<% end %>
	<input name="submit2" value="Submit" type="hidden">
</form>
<script type="text/javascript">
   if (document.location.href.indexOf('#') == -1) {
     document.location.href += '#';
     //document.form.submit(); 
	 document.getElementById("my_form").submit();
    //warning: submit() conflicts with any input element named submit
   } else {
     history.go(-1);
   }
</script>