<h1>Test Command</h1>
<h3>The <%= basic_user_command_link @user_command %> command with arguments <b>'<%= @query_string%>'</b>
resulted in: <%= link_to truncate(h(@result), 150), @result, :nofollow=>true %>
</h3>